html{
	width: 100%;
	height: 100%;
	font-size: min(calc(12px + 1vw), calc(15px + 1vh));
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
}
div.main {
	 position:relative;
	 top:10vh;
	 width:100%;
	 height:100%;
	 display: flex;
	 width: min(100%, 96vw)
	 padding-right: 0;
}
.content {
	width: 100%;
	display: block;
	padding: max(1vw, 1vh);
	position: relative;
}
div.center {
	padding: 1vw;
	width: 100%;
	text-align: center;
}
img {
	max-width: 100%;
}
.top-bar {
	box-sizing: border-box;
	width: 100%;
	height: 8vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff;
	border-bottom: 3px solid #fa5;
	z-index: 3;
}
.top-bar::after {
	display: block;
	content: "";
	clear: both;
}
.top-bar *{
	box-sizing: border-box;
}
.top-bar .nav {
	float: right;
	padding: 1vh;
	height: 100%;
}
.top-bar .nav a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #555;
	line-height: 4vh;
	font-size: 0.9rem;
	padding: 1vh;
}
.top-bar .nav a:hover, .top-bar .nav a.active {
	color: #000;
}
.top-bar .nav a.active {
	font-variant: small-caps;
	font-weight: bolder;
}
div.scrollTop {
	--round: max(4vw, 4vh);
	position: fixed;
	right: 1vw;
	bottom: 1vh;
	width: var(--round);
	height: var(--round);
	border-radius: var(--round);
	background-color: #555;
	border: 1px solid #aaa;
	opacity: 0.9;
	cursor: pointer;
}
div.scrollTop:hover {
	background-color: #222;
}
.modal-backdrop {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #444;
	opacity: 0.6;
}
.modal {
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 10px;
	z-index: 7;
	position: absolute;
	left: 50vw;
/*	top: 40vh;*/
	top: -100vh;
	padding: 10px;
	width: max(35%, 320px);
	max-width: 100%;
	max-height: 90%;
	overflow-y: auto;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: top 0.2s ease, opacity 0.4s ease;
	box-shadow: 2px 2px 5px #555;
}
.modal * {
	box-sizing: border-box;
}
.close-btn {
	color: #aaa;
	float: right;
	font-size: 1.8rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	padding: 1rem;
}
.close-btn:hover, .close:focus {
	color: #000;
}
.button {
	margin: 1vh;
	display: inline-block;
	height: 6vh;
	cursor: pointer;
	border-radius: 5px;
	display: none;
}
.button img{
	height: 100%;
}
.button:hover, .button:focus {
	outline: 1px solid #aaa;
}
.modal .nav {
	position: relative;
	width: 100%;
}
.modal .nav ul {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0;
}
.modal .nav li {
	display: inline-block;
	width: 100%;
	padding: 5px;
	text-align: center;
}
.modal .nav a {
	text-decoration: none;
	color: #33a;
	font-variant: small-caps;
}
.modal .nav a:hover {
	color: #fa5;
	text-decoration: underline;
}
.modal .nav li.active a {
	color: #fa5;
	text-shadow: 1px 1px 1px #555;
	font-size: 1.2rem;
}
/* external links */
a[href^="http"]::after {
	content: "";
	display: inline-block;
	background-image: url(images/link.svg);
	width: 1.2em;
	height: 1.2em;
	background-size: 0.9em;
	background-repeat: no-repeat;
  background-position: bottom right;
}
h2 {
	font-size: 1.5em;
	color: #37a;
	width: 100%;
	text-align: center;
}
h3 {
	font-size: 1.2em;
	color: #2af;
}
h4 {
	font-size: 1em;
	color: #5aa;
}
hr {
  color: #eee;
  border-width: 1px;
}

@media screen and (max-width: 700px) {
	.top-bar .nav a {
		font-size: 0.7rem;
	}
}
@media screen and (max-height: 400px) {
	.top-bar .nav a {
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 560px) {
	body.modal-open {
		width: 100vw;
		height: 100vh;
		overflow-y: hidden;
		position: fixed;
	}
	body.modal-open .modal-backdrop {
		display: block;
	}
	body.modal-open .modal {
		top: 40vh;
		opacity: 1;
	}
	.top-bar .nav {
		display: none;
	}
	.button {
		display: inline-block;
	}
}
